
<div class="row">
    <div class="col-md-4 container-righ">
        <div class="form-group">    
            <h2>Filtrar por colaboradores</h2>
            <input type="text" ng-model="search" class="form-control input-search" id="exampleInputEmail1" placeholder="Filtrar por todos os campos">
        </div>
            <span>Ou</span>
        
            <h3>Filtrar por categoria</h3>

            <a data-toggle="collapse" data-target="#demo" href="#" class="list-group-item active">DEPARTAMENTO</a>
            <div id="demo" class="collapse" >
                <a href="#" ng-repeat="depName in vm.department" class="list-group-item" ng-bind="depName"></a>
            </div>
            
            <br/>

            <a data-toggle="collapse" data-target="#dem" href="#" class="list-group-item active">CARGO</a>
            <div id="dem" class="collapse" >
                <a href="#" ng-repeat="roleName in vm.role" class="list-group-item" ng-bind="roleName"></a>
            </div> 
            
            <button type="button" class="btn btn-default">Default</button>               
    </div>
    
    <div class="container col-md-8 container-right">
        <table class="table table-striped table-hover">
                <tr  ng-repeat = "item in vm.apiList | filter : search">
                    <td id="teste">
                        <img ng-src="{{item.photo}}"  class="img-circle photo-circle">
                        
                    </td>
                    <td id="calaborators-info">
                        <h1 class="list-name" ng-bind="item.name"></h1>
                        <span class="list-role"ng-bind="item.role"></span>
                    </td>
                </tr> 
            </table>
        </div>
    </div> 
    

    
  </div>

  

                <!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button>

                <div id="demo" class="collapse">
                Lorem ipsum dolor text....
                </div> -->

                <!-- <div class="list-group"class="list-group-item">
                    
                    <a data-toggle="collapse" data-target="#demo" href="#" class="list-group-item active"> Cras justo odio</a>
                    <div id="demo" class="collapse" ng-repeat="depName in vm.department">
                        <a href="#" class="list-group-item" ng-bind="depName"></a>
                    </div>
                  </div>
 -->
  
  
 <!-- 
                    
                    <select class="form-control" id="sel1"  >
                        <option ng-repeat="depName in vm.department" value="DEPARTAMENTO" ng-bind="depName"></option>        
                    </select>
                    
                    
                    <div class="dropdown">
                
                <select class="form-control" id="sel1" >
                    <option>DEPARTAMENTO</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br/>
                <select class="form-control" id="sel2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br/>
               
              </div> -->
  
    
     
      
    
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> -->