<div class="row">
    <div class="col-md-4 container-left">

        <div class="form-group">    
            <h2 id="main-title">FILTRAR COLABORADORES</h2>
            <input type="text" ng-model="search" class="input-search" id="exampleInputEmail1" placeholder="Filtrar por todos os campos">
        </div>

        <div id="ou">
            <span>OU</span>
        </div>      
        
        <h3 id="category-title">Filtrar por categoria</h3>

        <div class="cat">
            <a data-toggle="collapse" data-target="#demo" href="#" class="list-group-item"><img class='category-img' src="./../../../assets/img/i-departamento.png" alt="">DEPARTAMENTO</a>
            <div id="demo" class="collapse" > 
                <a href="#" ng-click = "vm.checkCategory(depName)"  ng-repeat="depName in vm.department" class="list-group-item" ng-bind="depName"></a>
            </div>
        </div>

        <div>
            <a  data-toggle="collapse" data-target="#dem" href="#" class="list-group-item"><img class='category-img' src="./../../../assets/img/i-cargo.png" alt=""> CARGO</a>
            <div id="dem" class="collapse " >
                <a href="#" ng-repeat="roleName in vm.role" class="list-group-item" ng-bind="roleName"></a>
            </div> 
        </div>
           
        <div class="button-filter">
            <button ng-click = "vm.filtred(vm.categories)" type="button" class="btn btn-sm">FILTRAR</button>
        </div>               
    </div>
    
    <div class="container col-md-8 container-right">
        <table class="table  table-hover">
            <tr  ng-repeat = "item in vm.apiList | filter : search">
                <td>
                    <img ng-src="{{item.photo}}"  class="img-circle photo-circle">                        
                </td>
                <td id="calaborators-info">
                    <h1 class="list-name" ng-bind="item.name"></h1>
                    <span class="list-role"ng-bind="item.role"></span>
                </td>
            </tr> 
        </table>
    </div>     
</div>
